.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Navigation styles */

.nav-bar {
  background-color: orange;
  list-style-type: none;
  margin: 0;
  padding: 0;


}

.nav-bar a {
  text-decoration: none;
  color: white;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.nav-bar a.active {
  background-color: #04AA6D;
  color: white;
}


